@using Capstone.Web.Models;
@model string
@{
    ViewBag.Title = "SurveyResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>SurveyResult</h2>
<div id="surveyresult">
    <p>Thanks for taking the survey!</p>
    <p>The most popular park is currently @Model</p>
    <p>Text 'park' to 77999 for future updates</p>
</div>
