<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>National Park Weather Service - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/stylesheet.css" />
</head>
<body>
    <header>
        <img style="width:30%;" src="~/Content/img/logo.png" alt="National Park Weather Service" />
       
    </header>
    <nav>
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            
            <li>@Html.ActionLink("Survey", "Index", "Survey")</li>
          
    </nav>

    <section id="main">

        @RenderBody()

    </section>
    <footer>
        National Park Weather Service | Experience Your America | <a href= "http://www.nps.gov">www.nps.gov</a>
    </footer>
</body>
</html>